
body{
    background-color: #ffb6c1;
}

button {
    width: 70px;
    height: 35px;
    border: white solid;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


button:hover {
    background-color: #AA336A;
    border-color: #AA336A;
}


#info, #flex-order, #size {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section, ul li{
    font-size: 1.5vw;
}

#price {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

section img{
    width: 300px;
    padding: 15px 0px;
}

select {
    width: 50px;
    padding-left: 10px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
 }

 #info > section {
    width: 40%;
 }

#flex-order button {
    width: 30%;
    height: 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2, a{
    color: #AA336A;
}

ul li{
    padding: 5px 0px;
}

h3 {
    margin: 1em;
}